html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  margin: 0;
  text-align: center;
  padding: 0;
  font: normal 12px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  color: #333;
}


ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @group structure */

#container {
  text-align: left;
}

#toolbar {
  background: #ccc url(bg.png) repeat-x;
  height: 24px;
  padding: 4px 9px;
  border-bottom: 1px solid #555;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
  font-size: 92%;
  color: #333;
  text-shadow: 1px 1px #ccc;
}
/* @end */

/* @group commits */

#commits {
  margin-top: 35px;
}

#commits li {
  padding: 6px 9px;
  border-bottom: 1px solid #eee;
}

.shade {
  background-color: #f7f7f7;
}

#commits .message {
  font-weight: bold;
  margin-right: 200px;
}

#commits .meta {
  color: #999;
  font-size: 92%;
  margin-right: 200px;
}

.date {
  float: right;
  color: #888;
  font-size: 92%;
  margin-top: -27px;
}

#commits .author {
  color: #333;
}

.select {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -webkit-appearance: none;
  background: url(select.png) no-repeat;
  border: none;
  height: 25px;
  text-overflow: ellipsis;
  white-space: pre;
  padding: 3px 24px 3px 6px;
  width: 139px;
  font-weight: bold;
  color: #555;
  text-shadow: 1px 1px #ccc;
}

.select option {
  font-family: "Lucida Grande", sans-serif;
}

/* @end */