html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  margin: 0;
  text-align: center;
  padding: 0;
  font: normal 12px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  color: #333;
}


ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @group structure */

#content {
  text-align: left;
}

#main {
  padding: 18px;
}

/* @end */

/* @group details */
#metadata {
  padding: 9px;
  margin: 0 9px;
}

h1 {
  margin: 9px 0 3px 0;
  font-size: 150%;
  line-height: 130%;
  color: #222;
}

#message {
  margin-bottom: 9px;
  color: #555;
}

#hash {
  font-size: 92%;
  color: #888;
  font-weight: normal;
  margin-bottom: 9px;
}

#date {
  font-family: "Apple Garamond", Times, Georgia, serif;
  font-size: 150%;
  color: #aaa;
  font-style: italic;
  text-align: center;
  padding: 6px;
  font-weight: normal;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 0 9px;
}

#files {
  margin-bottom: 27px;
}

#files li {
  display: block;
  padding: 3px;
  border-bottom: 1px solid #f7f7f7;
}

#files li a {
  color: #888;
  display: block;
  padding-left: 22px;
  background: url(common.png) 0 50% no-repeat;
}

#files li.add a {
  background: url(added.png) 0 50% no-repeat;
}

#files li.delete a {
  background: url(delete.png) 0 50% no-repeat;
}

#diffs .diff {
  margin-bottom: 27px;
  background-color: #333;
  -webkit-border-radius: 4px;
  border: 1px solid #ddd;
  width: 100%;
}

.diff h3 {
  background: #333;
  color: #fff;
  font-family: "Lucida Grande";
  font-size: 92%;
  padding: 6px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px; 
}

pre {
  overflow-y: auto;
  background-color: #fff !important;
  border: 1px solid #eee;
  margin: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

pre code {
  display: table-cell;
  padding: 9px;
  width: 100%;
}

.addline {
  background-color: #DFD;
  color: #080;
}

.removeline {
  background-color: #FEE;
  color: #B00;
}

.meta {
  background-color: #f7f7f7;
  color: #bbb;
}


/* @end */

/*------------------------------------------------------------------------------------
  @group blame
------------------------------------------------------------------------------------*/
#content {
  width: 100%;
  position: relative;
  background: #fff;
  color: #000;
  bottom: 0;
  top: 0;
  height: 100%;
}

#blame-view {
  background: #656565;
  color: #ccc;
}

#loading {
  font-size: 120%;
  font-family: "Lucida Grande", sans-serif;
  color: #000;
  display: block;
  text-align: center;
  font-weight: bold;
}

#blame {
  display: block;
}

h2#place-holder {
  margin-top: 30%;
  font-size: 120%;
  color: #000;
  text-shadow: 1px 1px #777;
  text-align: center;
}

#blame-list li {
  line-height: 100%;
  border-bottom: 1px solid #f7f7f7;
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  min-height: 24px;
  font-size: 92%;
}

#blame pre {
  line-height: 100% !important;
  overflow: visible;
  border: 0 !important;
  margin: 0 0 0 68px !important;
  padding: 0 !important;
  white-space: pre-wrap;
  background: transparent !important;
}

#blame code {
  background: transparent !important;
  line-height: 100% !important;
  padding: 8px 0 0 0;
  margin: 0;
  vertical-align: middle;
}

#blame .linenum {
  background: #eee;
  position: absolute;
  top: 3px;
  left: 0;
  width: 30px;
  text-align: right;
  font-family: Courier, monospace;
  color: #777;
  font-weight: bold;
  padding: 5px;
}

#blame .sha {
  position: absolute;
  background-color: #000;
  color: #ccc;
  -webkit-border-radius: 4px;
  padding: 2px;
  line-height: 120%;
  opacity: 0.7;
  top: 3px;
  right: 0;
  display: none;
}

#blame li:hover .sha {
  display: inline;
}

.image-wrapper {
  vertical-align: middle;
  height: 100%;
  text-align: center;
  min-height: 400px;
}

#blame .inline-image {

}

#blame .gravatar {
  position: absolute;
  top: 3px;
  left: 43px;
  padding: 1px;
  border: 1px solid #eee;
}

/* @end */  
